<div layout="row" class="headerContainer">
    <span>Logo goes here</span>
    <span flex></span>
    <nav layout="row" layout-align="space-around" flex=20>
        <span class="navLink photos">Photos</span>
        <span class="navLink resume">Resume</span>
    </nav>
</div>

<!--<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <span>Logo Goes Here</span>
        <span flex></span>
        <nav>
            <span class="headerLink">Photos</span>
            <span class="headerLink">Resume</span>
        </nav>
    </div>
</md-toolbar>-->

<!--<span class="tab">
    <a href="#">Resume</a>
</span>
<span class="tab">
    <a href="#">Resume</a>
</span>-->